.nav-lista{
    display: flex;
    list-style: none;
    justify-content: center;
    max-width: 600px;
    margin: 12px auto;
    text-align: center;
}

.nav-item{
    flex-grow: 1;
}

.nav-link{
    display: block;
    padding: 8px 16px;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover{
    color: green;
    text-decoration: underline;
    font-size: 1.5em;
}